@font-face {
    font-family: 'Source Serif Pro', serif;
    src: url("fonts/fonts.gstatic.com");
    font-family: 'Cairo', sans-serif;
    src: url("fonts.googleapis.com");
}

h1 {
    font-family: Cairo, Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 2em;
    color: #073DA7; 
}
body {
    font-family: source serif pro serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 1 em;
    color: black;
}

.logostar {

    margin-left: 50px;
}


#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
}

nav {
    position:absolute;
    background: #81A8F3;
    color:black;
    margin: 30px;

}
nav a {
    display: block;
    color:black;

}
@media  (min-width: 600px) {
    nav{
        display: block;
        position: static;
    }
}
.hamburger-icon {
    display:none;
}
nav a {
    display: inline-block;
}
main {
    background-image:url("../images/homepage.jpg");
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;

 }