@font-face {
    font-family: 'Source Serif Pro', serif;
    src: url("fonts/fonts.gstatic.com");
    font-family: 'Cairo', sans-serif;
    src: url("fonts.googleapis.com");
}

@media (min-width: 600px) and (max-width: 1200px) {
}

.container {
    display:flex;
}
@media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
   }

body {
    font-family: source serif pro serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 1 em;
    color: black;
   
}

.logo {

   background-color: black;
   color:#D380C3;
   width: 200px;
   height: 50px;
}

#menu-checkbox:checked ~ nav {
    display: block;
}
 
header {
    
    background-color:black;
    height: 400px;
    margin-bottom: 0px;
    display:block flex;
    align-items: center;
    padding-bottom: 2em;
}


nav {
    position: relative;
    color:white;
    padding-left: 50px;
    margin-left: 100px;
    font-size:large bold;
    
}
nav a {
    display: inline-block;
    background-color:black;
    color: white;
    margin: 30px 20px 30px 20px;
}
@media  (min-width: 600px) {
    nav{
        display: block flex;
        position: static;
        justify-content: space-around;
        align-items: center;
    }
}
.hamburger-icon {
    display:none;
    
}
#check-box{
    display: none;
}

h1 {
    font-family: Cairo, Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 3em;
    color: white; 
    background-color: black;
    position: relative center;
    margin-left:400px;
    margin-bottom: 0px;
    padding-left: 100px;
    display:inline;

}
.explore {
    width: 400px;
    height: 100px;
    background-color: black;
    color:white;
    text-align: center;
    display: flex;
    margin-left: 400px;
}
img {
    display:flex;
}
    

img {
    background-image: url (;
}



.news-button {
    text-align:center;
    background-color:#E4AD9C;
    width:200px;
    height:25px;
    border-radius:6px;
}
.read-button {
    text-align: center;
    background-color:#A3E6EC;
    width:200px;
    height:25px;
    border-radius: 6px;
}


.astronaut {
    background-image:"../images/andrew-ruiz-348421.jpg";
    background-size: cover;
    background-repeat: no-repeat;
    max-height:400px;
    max-width: 100%;
    background-repeat: no-repeat;
    margin: 15px;
}

.maur {
    background-size: cover;
    background-repeat: no-repeat;
    background-image:"../images/exhibiton maur.jpg";
    max-height: 400px;
    background-repeat: no-repeat;
    margin: 15px;
}


.glasses {
    background-size: cover;
    background-repeat: no-repeat;
    
    max-height: 400px;
    background-repeat: no-repeat;
    margin: 15px;
}
.footer{
    background-image: none;
    text-align: center;
}
button {
    
    width: 300px;
    height: 50px;
    border-radius:10px;
    
}
.ticket-button {
    background-color:#B9CBEE;
}

.teacher-button {
    background-color:#CBC41B;
}
.kids-button {
    background-color:#F89E5D;
}
.exhibition-button {
    background-color:#E1D6CD;
}

.events-button {
    background-color:#D380C3;
}

.item4 {
    background-image:"../images/billetto-editorial-334686.jpg";
}

.museum {
    width: 400px;
    height:200px;
    margin-left: 50px;
}


h2 {
    background-color:#D380C3;
    color:black;
    padding:20px;
}


p {
    margin-top: 20px;
    margin-left: 50px;
    max-width:600px;
    width:300px;
    position: relative;
    display: center;
    

}

.man {
    height: 500px;
    width: 300px;
    margin-right: 20px;
    position: relative center;
}
.science {
    height: 250px;
    width: 500px;
}
.moon {
    min-width:100%;
    height: 200px;
}
.drop {
    height: 500px;
    width: 400px;
    margin-right: 20px;
}
.teacher {
    height: 500px;
    width: 500px;
    margin-right: 20px;
}
    
.keyhole {
    height: 500px;
    width: 500px;
    margin-right: 20px;
}
.star {
    width: 100% cover;
}
.newton {
    height: 500px;
    width:400px;
    margin-right: 20px;
}
.boy {
    height: 600px;
    width: 500px;
    margin-right: 20px;
}
.star {
    width:100%;
    height: 150px;;
}
.skull {
    height: 500px;
    width: 700px;
    margin: 20px;
}
.elephant {
    height: 700px;
    width: 500px;
    margin: 20px;
}
.climb {
    height: 600px;
    width: 1000px;
    margin: 20px;
}
.dinosaur {
    height: 700px;
    width: 500px;
    margin: 20px;
}
.child {
    height: 300px;
    width: 700px;
    margin: 20px;
}
.rocket {
    max-width:600px;
}
.cosmology {
    background-color:#E9918B;
    text-align: center;
}
.evolution {
    background-color:#CBC41B;
    text-align: center;
}
.biology {
    background-color:#F8BB46;
    text-align: center;
}
.robotica {
    background-color:#CE9FDE;
    text-align: center;
}
.ecology {
    background-color:#F89E5D;
    text-align: center;
}
.about {
    background-color: #A3E6EF;
    text-align: center;
    
}
.volunteers {
    background-color: #F48982;
    text-align: center;
   
}
.support {
    background-color:#EACF9B;
    text-align: center;
}
.internships {
    background-color:#E4AD9C;
    text-align: center;
}